<tr>
  <td><%= post.title %></td>
  <td>
    <%= link_to 'Show', [post.bulletin, post], class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_bulletin_post_path(post.bulletin, post), class: 'btn btn-default' %>
    <%= link_to 'Destroy', [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
  </td>
</tr>